#elemento{
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
}


#contenedor{
    height: 500px;
    width: 800px;
    background-color: #ccd3d7;
    border-style: solid;
    border-width: 5px ;
    border-color: #88aec3;
    border-radius: 5px;
    position: absolute;
}

#instrucciones{
    height: 30px;
    width: 800px;
    position: absolute;
    margin-top: 500px;
}